@import "tailwindcss";

@layer base {
  html,
  body {
    @apply min-h-screen bg-black text-slate-50 antialiased;
  }

  p {
    @apply text-lg;
  }

  a {
    @apply text-inherit no-underline;
  }
}

